In [17]:
# Pandas
import pandas as pd

In [18]:
# The path to our CSV file
file = "EmployeeSQL/data/salaries.csv"

# Read our Kickstarter data into pandas
salaries_df = pd.read_csv(file)
# Read our Kickstarter data into pandas
salaries_df.head()

   emp_no  salary
0   10001   60117
1   10002   65828
2   10003   40006
3   10004   40054
4   10005   78228

In [19]:
len(salaries_df)

300024

In [20]:
salaries_df.emp_no.nunique()

300024

In [31]:
# The path to our CSV file
empdepfile = "EmployeeSQL/data/dept_emp.csv"

# Read our Kickstarter data into pandas
emp_dep_df = pd.read_csv(empdepfile)
# Read our Kickstarter data into pandas
emp_dep_df.head()

   emp_no dept_no
0   10001    d005
1   10002    d007
2   10003    d004
3   10004    d004
4   10005    d003

In [32]:
len(emp_dep_df)

331603

In [33]:
emp_dep_df.emp_no.nunique()

300024

In [34]:
# The path to our CSV file
depmgrfile = "EmployeeSQL/data/dept_manager.csv"

# Read our Kickstarter data into pandas
dep_mgr_df = pd.read_csv(depmgrfile)
# Read our Kickstarter data into pandas
dep_mgr_df.head()

  dept_no  emp_no
0    d001  110022
1    d001  110039
2    d002  110085
3    d002  110114
4    d003  110183

In [38]:
len(dep_mgr_df)

24

In [39]:
dep_mgr_df.emp_no.nunique()

24